body{

    background:#f4f6f9;

}

.sidebar{

    min-height:100vh;

}

.sidebar a{

    text-decoration:none;

}

.sidebar a:hover{

    background:#495057;

}

.card{

    border-radius:12px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-3px);

    box-shadow:0 5px 15px rgba(0,0,0,.2);

}